.profile-box2{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    // margin-left: 15%;
    margin-right: 10%;
    // width: 100%;
}
.picture2{
    margin: 3%;
    width: 20% !important;
    height: 20%;
}
.picture2 img{
    width: 100%;
    height: auto;
}
.info-box{
    color: $darkBlue;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 3%;
    margin-left: 20%;
    margin-top: 3%;
}
.welcome_title_of_profile{
    color: $darkBlue;
    font-size: 1.5rem;
    line-height: 1.2;
    // margin-left: calc(15% + 50px);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
