.ask_title{
    color: $darkBlue;
    font-size: 1.3625rem;
    line-height: 1.2;
    margin-left: 4rem;
    margin-top: 1rem;

}
.title{
    background-color: $limeBlue;
    line-height: 1.2;
    width: 13rem;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 10px;
}
.outside-box{
    margin-top: 1rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
    font-size: 1.3625rem;
    font-family: 'Public Sans', sans-serif;
}
input[type="text"],
textarea[type="text"]  {
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
  }
.inside-box{
    width: calc(100% - 3rem);
}