.title_of_question{
    color: $darkBlue;
    font-size: 2rem;
    line-height: 1.2;
    margin-left: calc(5% + 50px) !important;
    margin-top: 1rem;

}
.title{
    line-height: 1.2;
    width: 13rem;
    color: $darkBlue;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.box_of_question{
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border: 2px solid $darkBlue;
    border-radius: 8px;
    display: block;
    font-family: 'Public Sans', sans-serif;

}
.box_of_answer{
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border: 1.5px solid $limeBlue;
    border-radius: 8px;
    display: block;
    font-family: 'Public Sans', sans-serif;

}
.text_of_question{
    font-size: 1.3rem;
    padding: 1%;
    color: $darkBlue;
}
.author{
    font-size: $font-med;
    padding-left: 1%;
    color: $darkBlue;
    margin-top: 0.8%;
    display: flex;
}
.those,
.flex{
    display: flex;
}
.num_of_answers{
    font-size: 1rem;
    padding: 1%;
    color: $darkBlue;
    border: 1.5px solid $darkBlue;
    border-radius: 8px;
    width: fit-content;
    margin-left: calc(80% - 50px);
}

.answer_button2{
    background-color: $limeBlue;
    color: white;
    font-size: 100%;
    line-height: 1.2;
    margin-left: calc(80% - 50px);
    margin-bottom: 3rem !important;
    border-radius: 0.8rem;
    padding: 1%;
    width: fit-content;
}
.keyword_display{
    background-color: rgb(194, 107, 7);
    color: white;
    font-size: 100%;
    line-height: 1.2;
    margin-left: 1rem;
    margin-bottom: 0.5%;
    border-radius: 0.8rem;
    padding: 0.7%;
    width: fit-content;
}

.my_answer{
    color: $darkBlue;
    font-size: 1.3625rem;
    line-height: 1.2;
    margin-left: calc(5% + 50px);
    margin-top: 2rem;
}

.textbox{
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
    margin-left: 5%;
    max-width: 100% !important;
    margin-right: 0.3% !important;
    margin-top: 2%;
    margin-bottom: 1%;
}
.my_answer2{
    color: $darkBlue;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-left: calc(5% + 50px);
    margin-top: 2rem;
}